.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--colors-gray-800);
}

.light {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--colors-gray-600);

  &.red {
    background-color: #1e0000;

    &.active {
      background-color: #dd0404;
      box-shadow: 0px 0px 15px 3px #dd0404;
    }
  }

  &.yellow {
    background-color: #171100;
    
    &.active {
      background-color: #ffbb00;
      box-shadow: 0px 0px 15px 3px #ffbb00;
    }
  }

  &.green {
    background-color: #091100;

    &.active {
      background-color: #7fff00;
      box-shadow: 0px 0px 20px 3px #7fff00;
    }
  }
}
